html{
    background: url(background.jpg);
    background-size: cover ;
    

}
body{
    overflow: hidden;
}

.heading{
    color: rgb(113, 247, 36);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;
}

.keys{
    display: flex;
    flex: 1;
    min-height: 60vh;
   
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.key{
    border: 8px;
    border-style: solid ;
    border-color: rgba(94, 52, 52, 0.61);
    border-radius: 5px;
    width: 160px;
    margin: 16px;
    padding: 10px;
    transition: all .07s ease;
    color: rgb(248, 223, 0);
    font-size: large;
    background: rgba(0,0,0,0.6);
    text-shadow: 0 0 30px black;
    text-align: center;
    user-select: none;

}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }

kbd{
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffc600;
  }


  @media only screen and (max-width: 500px) {
      html{
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat; 
        background-size: cover;
        overflow: scroll;
      }
    .keys {
        display: flex;
        flex-direction: column;
    }
    .heading{
        display: flex;
        align-items: center;
        justify-content: center;
    }


}